{% extends 'base.html' %}
{% block title %}Post List{% endblock %}
{% block menu %}
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a href="{% url 'webapp:post_create' %}" class="nav-link">Create Post</a>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row">
        {% for post in post_list %}
            <div class="col-md-4">
                <div class="card mt-4" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.header }}</h5>
                        <p class="card-text">{{ post.author }}</p>
                        <p class="card-text">{{ post.created_at }}</p>
                        <a href="{% url 'webapp:post_detail' post.pk %}" class="btn btn-dark">See more</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %} %}